* { 
  font-family: "Jost", sans-serif;
  color: white;
}


#interface {
  padding-left: 650px;
}

#user_input {
  width: 600px;
  height: 50px;
  font-size: 25px;
  color: black;
  border-radius: 15px;
  border: none;
  padding-left: 15px;
}

#main_button {
  color: black;
  border-radius: 15px;
  border: none;
  padding-left: 15px;
  width: 100px;
  height: 50px;
  font-size: 25px;
  margin-left: -120px;
}


h1 {
  font-size: 55px;
  margin-left: 220px;
}

li {
  font-size: 30px;
  font-weight: 700;
  padding-left: 10px;
}

li:hover {
  font-style: italic;
  text-decoration: line-through;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

